/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

h1 {
    margin: 0;
}

#header {
    background: #2c3639;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    display: flex;
    height: calc(100vh - 70px);
}

#sidebar {
    width: 350px;
    background: #3F4E4F;
    text-align: center;
}

#content {
    flex: auto;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.menu {
    background-image: url('../../assets/images/menu.svg');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.user {
    background-image: url('../../assets/images/user.svg');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 70px;
}

