.menu {
    background-image: url("../images/menu.svg");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: not-allowed;
}

.user {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.avatar {
    background-image: url("../images/user.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.logout {
    position: absolute;
    color: black;
    top: 65px;
    right: 5px;
    background: #eee;
    padding: 0 10px;
    border-radius: 4px;
    font-weight: 500;
    display: none;
}

.logout.open {
    display: block;
}


