/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");




#header {
    background: #2c3639;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    display: flex;
    height: calc(100vh - 70px);
}

#sidebar {
    width: 350px;
    background: #3f4e4f;
    text-align: center;
}

#content {
    flex: auto;
    margin: 20px 20px 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}


